header{
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background: beige;
}
header section{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
header section picture img{
    width: 25%;
    height: auto;
}
header section il{
    width: 25%;
}
header nav{
    display: flex;
    flex-direction: column;
}

footer{
    align-content: center;
    justify-content: space-around;
    height: 50px;
    background: powderblue;
}